{% load static%}

<!doctype html>
<html lang="ru">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>{% block title %}{% endblock %}</title>
 <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
 <link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
</head>

<body>

 <header class="site-header">

  <a href="{% url 'main:index' %}" class="header-logo-link  anim_btn_tilt">
   <img src="/static/main/img/logo.png" class="logo" alt="PawPick">
  </a>

  <nav class="nav desktop-nav">
   <a href="{% url 'qtest:test_step' 1 %}" class="button anim_btn_tilt"> Тест </a>
   <a href="{% url 'catalog:catalog' %}" class="button anim_btn_tilt"> Собаки </a>
   <a href="{% url 'main:vet' %}" class="button anim_btn_tilt"> Партнеры</a>
  </nav>

  <div class="desktop-user-menu">

   {% if request.user.is_authenticated and request.user.is_staff %}
   <a href="{% url 'admin:index' %}" class="buttom anim_btn_tilt" >Админ панель</a>
   {% endif %}

   {% if request.user.is_authenticated %}
   <a href="{% url 'qtest:profile' %}" class="button anim_btn_tilt">
    {{ request.user.profile.display_name|default:request.user.username }}
   </a>
   {% else %}
   <span class="reg anim_btn_tilt">
    <a href="{% url 'register:login' %}  "class="buttom anim_btn_tilt">Вход</a> |
    <a href="{% url 'register:register' %}  "class="buttom anim_btn_tilt">Регистрация</a>
   </span>
   {% endif %}

  </div>

  <button class="burger-button" type="button" aria-label="Открыть меню" aria-expanded="false" data-burger-button>
   <span></span>
   <span></span>
   <span></span>
  </button>

  <nav class="mobile-menu" data-mobile-menu>
   <a href="{% url 'qtest:test_step' 1 %}" class="button anim_btn_tilt">Тест</a>
   <div class="divider burdiv"></div>
   <a href="{% url 'catalog:catalog' %}" class="button anim_btn_tilt">Собаки</a>
   <div class="divider burdiv"></div>
   <a href="{% url 'main:vet' %}" class="button anim_btn_tilt">Партнеры</a>
<div class="divider burdiv"></div>
   {% if request.user.is_authenticated and request.user.is_staff %}
   <a href="{% url 'admin:index' %}" class="buttom anim_btn_tilt">Админ панель</a>
   <div class="divider"></div>
   {% endif %}

   {% if request.user.is_authenticated %}
   <a href="{% url 'qtest:profile' %}" class="button anim_btn_tilt">
    {{ request.user.profile.display_name|default:request.user.username }}
   </a>
   {% else %}
   <a href="{% url 'register:login' %}" class="button anim_btn_tilt">Вход</a>
   <div class="divider burdiv"></div>
   <a href="{% url 'register:register' %}" class="button anim_btn_tilt">Регистрация</a>
   {% endif %}
  </nav>

 </header>

 <div class="mobile-menu-overlay" data-mobile-menu-overlay></div>

 <main>
  {% block content %}
  {% endblock %}
 </main>

 <footer>
  <div class="container">
   <div class="footer">
    <div class="footer_sec1">
     <nav class="nav">
      <a href="{% url 'qtest:test_step' 1 %}" class="button anim_btn_tilt"> Тест </a>
      <a href="{% url 'catalog:catalog' %}" class="button anim_btn_tilt"> Собаки </a>
      <a href="{% url 'main:vet' %}" class="button anim_btn_tilt"> Партнеры</a>
     </nav>
     <a href="{% url 'main:index' %}" class="header-logo-link anim_btn_tilt">
   <img src="/static/main/img/logo.png" class="logo" alt="PawPick">
  </a>
    </div>

    <div class="divider"></div>

    <div class="footer_sec2">
     <p>PawPick — веб-приложение для осознанного подбора домашнего питомца из собачьего приюта. Сервис помогает пользователю пройти тест, изучить подходящие породы и сделать более ответственный выбор с учётом образа жизни, ухода и характера будущего питомца.

© PawPick — осознанный выбор начинается с заботы.</p>

    
    </div>
   </div>
  </div>
 </footer>

 <script src="{% static 'main/js/burger.js' %}"></script>
 <script src="{% static '/main/js/main.js' %}"></script>

</body>
</html>
