{% load static%}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'main/css/img/favicon-32x32.png' %}">
</head>

<body>
    <header>
        <img src="/static/main/img/logo.png" class="logo" alt="">

        <nav class="nav">
            <a href="{% url 'main:index' %}" class="button"> Главная </a>
            <a href="{% url 'catalog:catalog' %}" class="button"> Собаки </a>
            <a href="{% url 'main:vet' %}" class="button"> Спасатели</a>

        </nav>

        {% if request.user.is_authenticated and request.user.is_staff %}
        <a href="{% url 'admin:index' %}" class="buttom">
            Админ панель
        </a>
        {% endif %}

        {% if request.user.is_authenticated %}
        <a href="{% url 'register:logout' %}" class="button"> Выход</a>
        {%else%}
        <span class="reg"><a href="{% url 'register:login' %}">Вход</a>|<a
                href="{% url  'register:register' %}">Регистрация</a></span>
        {%endif%}


    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer_sec1">
                    <nav class="nav">
                        <a href="{% url 'main:index' %}" class="button"> Главная </a>
                        <a href="{% url 'catalog:catalog' %}" class="button"> Собаки </a>
                        <a href="#" class="button"> Спасатели</a>

                    </nav>
                    <img src="/static/main/img/logo.png" class="logo" alt="">
                </div>
                <div class="divider"></div>
                <div class="footer_sec2">
                    <p>PawPick — платформа по подбору собак из приютов.
                        Мы помогаем людям находить питомцев осознанно, а собакам — обретать любящий дом.

                        Наша миссия — сократить количество бездомных животных и сделать процесс поиска прозрачным,
                        удобным и человечным.

                        © PawPick — выбирая питомца, вы выбираете любовь.</p>
                    <img src="/static/main/img/facebook.png" alt="">
                </div>
            </div>
        </div>
    </footer>
    {% load static %}
    <script src="{% static '/main/js/main.js' %}"></script>
</body>

</html>