{% extends 'main/base.html' %}
{% load static%}
{% block title %}{{'Главная страница'}}{% endblock %}

{% block content %}
<section class="section1">
    <div class="container">
        <div class="wrapper">
            <div class="section1_banner fade-in">
                <h1>Заголовок</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque omnis, perferendis at facilis, facere
                    accusantium fugit vitae voluptatem odio itaque porro numquam assumenda, aspernatur dignissimos
                    reiciendis pariatur repellendus esse laudantium!</p>
                <a href="" class="btn sec1btn"><span>Пройти ТЕСТ</span></a>
            </div>

            <div class="section1_slider fade-in">
<img src="/static/main/img/slider.svg" alt="">
            </div>
        </div>
    </div>
</section>

<img src="/static/main/img/divider1.svg" alt="" class="divider1">
<section class="section2">
    <div class="container">
        <div class="wrapper">
            <div class="section2_testbtn fade-in">
                <img src="/static/main/img/testbtn.svg" alt="">
            </div>
            <div class="section2_navbtn fade-in">
                <a href="{% url 'catalog:catalog' %}" class="ticket">
                    <div class="navbtn">
                    <h2>Наши Собачки</h2>
                    <div class="mini_divider"></div>
                    <p>Список всех доступных <br>на нашем сайте пород</p>
                    </div>
                </a>
                <a href="" class="ticket">
                    <div class="navbtn navbtn2">
                    <h2>Ветклиники и приюты</h2>
                    <div class="mini_divider"></div>
                    <p>Главные помощники для <br> наших друзей младших</p>
                    </div>
                   
                </a>
            </div>
        </div>
    </div>
</section>

<img src="/static/main/img/divider2.svg" alt="" class="dividers">
<section class="section3">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque corrupti voluptas sit blanditiis consectetur?
        Beatae ipsa esse laborum! Nulla laborum placeat expedita. Eos nemo maiores, voluptatum doloribus dolor quaerat
        magnam.</p>
    <div class="reel">
        <div class="sec3slider">

        <img src="/static/main/img/img1.png" alt="">
        <img src="/static/main/img/img2.png" alt="">
        <img src="/static/main/img/img3.png" alt="">
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum mollitia quisquam quas, eaque officiis dolores
        nemo quos ad beatae! Quo dolore nostrum exercitationem quam tempore nisi enim possimus eaque eligendi!</p>
</section>


<img src="/static/main/img/divider1.svg" alt="" class="divider1">
<section class="section4">
    <div class="container">
    <div class="wrapper sec4_wrap">
        <div class="sec4_form fade-in">
         <span class="form_title"><h2>Отзыв</h2></span>
        <div class="form">
        
        <form method="POST" class="form_form">
        {% csrf_token %}
        {{ review_form.as_p }}
         <button type="submit" class="btn btn_form" method="POST"><span>Отправить</span></button>
        </form>
    </div>
    </div>
    <div class="section4_info fade-in">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam sed eligendi provident beatae commodi,
            accusamus debitis? Obcaecati iusto laudantium et repellendus soluta. Voluptate vero officiis facilis
            repudiandae, ipsa quaerat molestiae.</p>
    </div>
    </div>
    </div>
</section>
<img src="/static/main/img/divider2.svg" alt="" class="dividers">
{% endblock %}