{% extends 'main/base.html' %}
{% load static%}
{% block title %}{{'Заявка'}}{% endblock %}

{% block content %}
<section class="section1">
    <div class="wrapper">
    <div class="container">
        <div class="section1_banner">
            <h1>Заголовок</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque omnis, perferendis at facilis, facere accusantium fugit vitae voluptatem odio itaque porro numquam assumenda, aspernatur dignissimos reiciendis pariatur repellendus esse laudantium!</p>
            <a href="" class="btn" ><span>Пройти ТЕСТ</span></a>
        </div>
   
    <div class="section1_slider">

    </div>
    </div>
    </div>
</section>

<div class="divider"></div>
<section class="section2">
    <div class="wrapper">
    <div class="container">
        <div class="section2_testbtn"></div>
        <div class="section2_navbtn">
            <a href=""><h2>Наши Собачки</h2><div class="mini_divider"></div><p>Список всех доступных на нашем сайте пород</p> </a>
            <a href=""><h2>Ветклиники и приюты</h2><div class="mini_divider"></div><p>Главные помощники для наших друзей младших</p></a>
        </div>
    </div>
    </div>
</section>
<section class="section3">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque corrupti voluptas sit blanditiis consectetur? Beatae ipsa esse laborum! Nulla laborum placeat expedita. Eos nemo maiores, voluptatum doloribus dolor quaerat magnam.</p>
    <div class="section3_slider"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum mollitia quisquam quas, eaque officiis dolores nemo quos ad beatae! Quo dolore nostrum exercitationem quam tempore nisi enim possimus eaque eligendi!</p>
</section>
<section class="section4">
    <div class="wrapper">
  <div class="container">
    <div class="form"></div>
  </div>
  <div class="section4_info">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam sed eligendi provident beatae commodi, accusamus debitis? Obcaecati iusto laudantium et repellendus soluta. Voluptate vero officiis facilis repudiandae, ipsa quaerat molestiae.</p>
    <div class="btn"></div>
  </div>
  </div>
</section>
{% endblock %}