{% extends 'main/base.html' %}
{% load static%}
{% block title %}{{'Партнеры'}}{% endblock %}

{% block content %}
<section class="back">
<div class="container">

    <section class="vet fade-in">

        <div class="form vet_clin">
            <div class="form_form">

            <div class="vet_title">
            <img src="/static/main/img/vetlogo1.jpg" class="vet_img" alt="">
            <h2>Ветеренарная клиника <br> "ПЛАНЕТА ЖИВОТНЫХ"</h2></div>
            <p class="vet_text">Адреса:</p>
            <ul class="vetul">
                <li class="vet_text">Пр-кт Ген.Тюленева д.20 <br>
                    с 9:00 до 22:00<br>
                    Тел. 255-015;<br>
                    73-40-67</li>
                <li class="vet_text">Пр-кт Ливанова д.16,<br>
                    с 9:00 до 19:30<br>
                    Тел. 74-98-38</li>
            </ul>

            <div style="position:relative;overflow:hidden;" class="map"><a href="https://yandex.ru/maps/org/planeta_zhivotnykh/1379225683/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Планета Животных</a><a href="https://yandex.ru/maps/195/ulyanovsk/category/veterinary_clinic/184107216/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Ветеринарная клиника в Ульяновске</a><a href="https://yandex.ru/maps/195/ulyanovsk/category/veterinary_pharmacy/184107214/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Ветеринарная аптека в Ульяновске</a><iframe src="https://yandex.ru/map-widget/v1/?ll=48.588723%2C54.383366&mode=search&oid=1379225683&ol=biz&z=15.39" class="map" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
        </div>

         <div class="form vet_clin">
            <div class="form_form">

            <div class="vet_title">
            <img src="/static/main/img/vetlogo2.jpg" class="vet_img" alt=""> 
            <h2>Приют <br> "Лапа Помощи"</h2></div>
            <p class="vet_text"> Адреса:</p>
            <ul >
                <li class="vet_text">Студенческая ул., 15, посёлок Октябрьский</li>
                <li class="vet_text">"голодный" телефон (не для звонков) 8 927 985 39 19</li>
            </ul>

            <div style="position:relative;overflow:hidden;" class="map"><a href="https://yandex.ru/maps/org/lapa_pomoshchi/4375438057/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Лапа Помощи</a><a href="https://yandex.ru/maps/11153/ulyanovsk-oblast/category/animal_shelter/16058225738/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Приют для животных в Ульяновской области</a><iframe src="https://yandex.ru/map-widget/v1/org/lapa_pomoshchi/4375438057/?ll=48.689885%2C54.332108&z=16.94" class="map" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
        </div>
    </section>
</div>
</section>
{% endblock %}