{% extends 'main/base.html' %} 
{% load static %} 
{% block title %}Профиль{%endblock %} 
{% block content %}

<link rel="stylesheet" href="{% static 'main/css/profile.css' %}" />

<section class="profile_back">
  <div class="container proforms">
    <div class="profile_page fade-in">
      <div class="form_title proftitle">
        <h1>
          {{ request.user.profile.display_name|default:request.user.username }}
        </h1>
      </div>

      <div class="form">
        <div class="form_form">
          <div class="profile_info">
            <h2>Профиль</h2>

          

            <div class="profile_data">
              <div class="profile_data_item">
                <span>Логин</span>
                <strong>{{ request.user.username }}</strong>
              </div>

              <div class="profile_data_item">
                <span>Email</span>
                <strong>
                  {% if request.user.email %} {{ request.user.email }} {% else%} Не указан {% endif %}
                </strong>
              </div>

              <div class="profile_data_item">
                <span>Тестов</span>
                <strong>{{ results|length }}</strong>
              </div>

              <div class="profile_data_item">
                <span>Избранное</span>
                <strong>{{ favorite_count }}</strong>
              </div>
              
            </div>
          </div>
        </div>

        <div class="profile_actions">
          <a href="{% url 'catalog:favorites' %}" class="btn anim_btn_scale "
              ><span>Избранное</span></a>
          <a
            href="{% url 'register:logout' %}"
            class="profile_action anim_btn_tilt"
          >
            <span>Выход></span>
          </a>
        </div>
      </div>
    </div>
      <div class="profile_page fade-in">
      <div class="form_title proftitle">
        <h1>
          <h2>История тестов</h2>
        </h1>
      </div>
      <div class="form">

       {% for result in results %}

            <article class="profile_history_item">

              <div class="profile_history_main">

                {% if result.best_card %}

                  <a href="{% url 'catalog:card' result.best_card.slug %}" class="profile_result_flag label anim_btn_scale">
                    <p class="card_title">{{ result.best_card.name }}</p>

                    <svg
              class="label-tail"
              viewBox="0 0 21 63"
              preserveAspectRatio="none"
            >
              <path d="M0 0H20.6857L0 32.0727L20.6857 63H0V0Z" />
            </svg>
                  </a>

                {% else %}

                  <div class="profile_result_flag label">
                    <span class="card_title">Не определён</span>

                    <svg class="label-tail" viewBox="0 0 35 88" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0 L35 44 L0 88 Z"></path>
                    </svg>
                  </div>

                {% endif %}

                {% if result.similar_cards %}

                  <div class="profile_similar">
                    <span>Ещё похожие:</span>

                    <div class="profile_similar_list ">
                      {% for card in result.similar_cards %}
                        <a href="{% url 'catalog:card' card.slug %}" class="anim_btn_scale">
                          {{ card.name }}
                        </a>
                      {% endfor %}
                    </div>
                  </div>

                {% endif %}

              </div>

              <div class="profile_history_aside">

                

                <div class="profile_history_date">
                  <span>{{ result.created_at|date:"d.m.Y" }}</span>
                </div>

              </div>

            </article>

          {% empty %}

            <div class="profile_empty">
              <h3>История пока пуста</h3>
              <p>После прохождения теста здесь появятся результаты.</p>
            </div>

          {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
