.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  animation: css-animation-fadeInUp 0.5s ease-out forwards;
}
 
@keyframes css-animation-fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}