.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  animation: css-animation-fadeInUp 0.5s ease-out forwards;
}

@keyframes css-animation-fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider {
  width: 820px;
  position: relative;
  border-radius: 2px;
  border: 5px solid #a5a4a4;
  background-color: rgb(41, 41, 41);
  padding: 50px;
  box-sizing: border-box;
}
.slider img {
  width: 100%;
  height: 460px;
  object-fit: cover;
  object-position: center;
  display: none;
  border-radius: 2px;
}

.slider img.active {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #df562c;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 2px;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.card_slider {
  position: relative;
  border-radius: 2px;
}

.card_slider_cont {
  width: 60%;
}

.card_slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  display: none;
  border-radius: 2px;
}

.card_slider img.active {
  display: block;
}

@media screen and (max-width: 1700px) {
  .slider {
    width: 700px;
  }

  .slider img {
    height: 380px;
  }
}
@media screen and (max-width: 1279px) {
  .slider {
    width: 620px;
  }

  .slider img {
    height: 340px;
  }

  .card_slider img {
    height: 360px;
  }
  .card_slider_cont {
  width: 100%;
}
}

@media screen and (max-width: 767px) {
  .slider {
    width: 100%;
    padding: 30px;
  }

  .slider img {
    height: 260px;
  }

  .card_slider_cont {
    width: 100%;
  }

  .card_slider img {
    height: 280px;
  }
}

@media screen and (max-width: 479px) {
  .slider {
    padding: 22px;
  }

  .slider img {
    height: 220px;
  }

  .card_slider img {
    height: 240px;
  }
}