@import url(/static/main/css/header.css);
@import url(/static/main/css/footer.css);
@import url(/static/main/css/main.css);
*{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: SeymourOne;
    src: url(/static/main/fonts/SeymourOne-Regular.ttf);

}

h1,h2,h3,a {
    font-family: SeymourOne;
}
body{
    background-image: url(/static/main/img/background.svg);
    background-size: cover;

}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.container{
    max-width: 1480px;
}