@import url(/static/main/css/header.css);
@import url(/static/main/css/footer.css);
@import url(/static/main/css/main.css);
@import url(/static/main/css/button.css);
@import url(/static/main/css/forms.css);
@import url(/static/main/css/reelSlider.css);
@import url(/static/main/css/animations.css);
@import url(/static/main/css/catalog.css);
@import url(/static/main/css/maskot.css);
@import url(/static/main/css/vet.css);
@import url(/static/main/css/qtest.css);
@import url(/static/main/css/profile.css);
@import url(/static/main/css/result.css);
* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

.form_form input,
.form_form textarea {
  color: #2b3939;
  font-size: 15px;
}

@font-face {
  font-family: SeymourOne;
  src: url(/static/main/fonts/SeymourOne-Regular.ttf);
}

@font-face {
  font-family: Vollkorn;
  src: url(/static/main/fonts/Vollkorn-VariableFont_wght.ttf);
}

h1,
h2,
h3,
a,
button {
  font-family: SeymourOne;
  font-size: 24px;
}

p,
label,
input {
  font-family: Vollkorn;
}

img {
  width: 100%;
}

body {
  background-image: url(/static/main/img/background.svg);
  filter: sepia(20%);
  background-size: cover;
  background-position: center center;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #FCEBCD;
}
/* .backgroundcat {
  background-image: url(/static/main/img/backgroundbig.svg);
  background-size: cover;
  background-position: center center;
    background-attachment: fixed;
  background-repeat: no-repeat;
} */

.container {
  max-width: 1480px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) and (max-width: 1700px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}
