@import url(/static/main/css/header.css);
@import url(/static/main/css/footer.css);
@import url(/static/main/css/main.css);
@import url(/static/main/css/button.css);
@import url(/static/main/css/forms.css);
@import url(/static/main/css/reelSlider.css);
*{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}
@font-face {
    font-family: SeymourOne;
    src: url(/static/main/fonts/SeymourOne-Regular.ttf);

}
@font-face {
    font-family: EBGaramond;
    src: url(/static/main/fonts//EBGaramond-VariableFont_wght.ttf);

}

h1,h2,h3,a, button {
    font-family: SeymourOne;
    font-size: 24px;
}
p,label,input{
    font-family:EBGaramond;
}
img{
    width: 100%;
}
body{
    background-image: url(/static/main/img/background.svg);
    background-size: cover;
    background-position: center;
}

.container{
    max-width: 1480px;
   margin: 0 auto;
}