.filters{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
   padding: 40px;
   background-image: url(/static/main/img/filter.svg);
   background-size: cover;
    width: 200px;
    height: 1026px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
    ul{
         display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    }
}
.sectionFil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 100px;
}
.unfound{
    margin: 50px;
    color: #2B3939;
}