footer{
    display: flex;
    flex-direction: column;
    background-color:#2B3939;

}
.footer{
display: flex;
flex-direction: column;
    row-gap: 43px;
        padding: 20px 0px;
    }
.footer_sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divider{
    height: 3px;
    border-radius: 5px;
    min-width: 350px;
    max-width: 1480px;
    background-color:#FACA78;
}
.footer_sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}