.cont_form{
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label, input{
    font-size: 24px;
    color: #2B3939;
}
.form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
    background-image: radial-gradient(circle at top left, transparent 30px, white 17px), radial-gradient(circle at top right, transparent 30px, white 17px), radial-gradient(circle at bottom left, transparent 30px, white 17px), radial-gradient(circle at bottom right, transparent 30px, white 17px);
    background-size: 50% 50%;
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    padding: 50px;
}
.form_form{
        display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #FACA78;
    padding: 50px;
    border-radius:20px;
}
.form_title{
    display: inline-block;
position: relative;
align-self: center;
background-color:white;
padding: 40px;
border-radius: 50%;
z-index: 2;
top: 50px;
    h2{
        text-align: center;
        color: #2B3939;
    }
}
.form_input{
    padding: 10px;
    border: 3px solid #6AC6C1;
    border-radius: 5px;
    background-color: white;
}
