header{
    background-color: #2B3939;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 40px;
    align-items: center;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
}
.nav{
    display: flex;
    flex-direction: row;
    column-gap:30px;
}
