header{
    background-color: #2B3939;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 40px;
    align-items: center;
}
.nav{
    display: flex;
    flex-direction: row;
    column-gap:30px;
}
