.logo {
    width: 150px;
}
.sprite1{
     position: relative;
    width: 350px;
    left: 270px;
    bottom: 100px;
}
.sprite2{
   width: 270px;
    height: 370px;
    align-self: center;
}
.sprite3{
    width: 300px;
    align-self: flex-end;
}


@media screen and (min-width: 1280px) and (max-width: 1700px){
.logo {
    width: 100px;
}
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
.logo {
    width: 100px;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
.logo {
    width: 100px;
}
}
    @media screen and (min-width: 480px) and (max-width: 767px){
.logo {
    width: 100px;
}
    }