.vet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
}

.vet_img {
    width: 150px;
}

.map {
    width: 400px;
    height: 300px;
    align-self: center;
}

.vet_clin {
    width: 40%;
}

.vet_text {
    font-size: 20px;
    color: #2B3939;
}

.vet_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    h2 {
        color: #2B3939;
        text-align: center;
    }
}
.vetul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}